@font-face {
    font-family: '3dumbregular';
    src: url('3Dumb-webfont.eot');
    src: url('3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('3Dumb-webfont.woff2') format('woff2'),
         url('3Dumb-webfont.woff') format('woff'),
         url('3Dumb-webfont.ttf') format('truetype'),
         url('3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1
{
	font-family:'Arial';
	color: purple;
	text-align: left;
	text-shadow: 6px 6px 20px;
}

h2
{
	text-align: center;
	color: purple;
    border:2px purple solid ;
}

p
{
	text-align: justify;
	color: black;
    padding: 50;
}
.imageflottante
{
	float: right;

}

#conteneur div
{
	flex-direction: column;
    flex:1;
}

#conteneur h2
{
font-size: 1.2em
}
.description
{
	display:flex;
	flex-direction: column;
}

body
{
	color: black;
	background-color: lightgrey;
	background-repeat: repeat;
}
strong
{
	font-weight: bold;
}
